ElectionClient/src/META-INF/wsdl/localhost_8084/ElectionServer/ElectionProvider.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://electionprovider.chille.iaik/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://electionprovider.chille.iaik/" name="ElectionProvider">
<wsp:Policy xmlns:soaptcpsvc="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" wsu:Id="ElectionProviderPortBindingPolicy">
<soaptcpsvc:OptimizedTCPTransport enabled="true" />
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://electionprovider.chille.iaik/" schemaLocation="http://localhost:8084/ElectionServer/ElectionProvider?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="getElectionInformation">
<part name="parameters" element="tns:getElectionInformation" />
</message>
<message name="getElectionInformationResponse">
<part name="parameters" element="tns:getElectionInformationResponse" />
</message>
<message name="getVotingServers">
<part name="parameters" element="tns:getVotingServers" />
</message>
<message name="getVotingServersResponse">
<part name="parameters" element="tns:getVotingServersResponse" />
</message>
<message name="getVersion">
<part name="parameters" element="tns:getVersion" />
</message>
<message name="getVersionResponse">
<part name="parameters" element="tns:getVersionResponse" />
</message>
<portType name="ElectionProvider">
<operation name="hello">
<input wsam:Action="http://electionprovider.chille.iaik/ElectionProvider/helloRequest" message="tns:hello" />
<output wsam:Action="http://electionprovider.chille.iaik/ElectionProvider/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="getElectionInformation">
<input wsam:Action="http://electionprovider.chille.iaik/ElectionProvider/getElectionInformationRequest" message="tns:getElectionInformation" />
<output wsam:Action="http://electionprovider.chille.iaik/ElectionProvider/getElectionInformationResponse" message="tns:getElectionInformationResponse" />
</operation>
<operation name="getVotingServers">
<input wsam:Action="http://electionprovider.chille.iaik/ElectionProvider/getVotingServersRequest" message="tns:getVotingServers" />
<output wsam:Action="http://electionprovider.chille.iaik/ElectionProvider/getVotingServersResponse" message="tns:getVotingServersResponse" />
</operation>
<operation name="getVersion">
<input wsam:Action="http://electionprovider.chille.iaik/ElectionProvider/getVersionRequest" message="tns:getVersion" />
<output wsam:Action="http://electionprovider.chille.iaik/ElectionProvider/getVersionResponse" message="tns:getVersionResponse" />
</operation>
</portType>
<binding name="ElectionProviderPortBinding" type="tns:ElectionProvider">
<wsp:PolicyReference URI="#ElectionProviderPortBindingPolicy" />
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getElectionInformation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVotingServers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVersion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ElectionProvider">
<port name="ElectionProviderPort" binding="tns:ElectionProviderPortBinding">
<soap:address location="http://localhost:8084/ElectionServer/ElectionProvider" />
</port>
</service>
</definitions>