VotingClient/src/META-INF/wsdl/localhost_8084/VotingServer/VotingServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://votingserver.chille.iaik/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://votingserver.chille.iaik/" name="VotingServer">
<types>
<xsd:schema>
<xsd:import namespace="http://votingserver.chille.iaik/" schemaLocation="http://localhost:8084/VotingServer/VotingServer?xsd=1" />
</xsd:schema>
</types>
<message name="rejectVote">
<part name="parameters" element="tns:rejectVote" />
</message>
<message name="rejectVoteResponse">
<part name="parameters" element="tns:rejectVoteResponse" />
</message>
<message name="getVotes">
<part name="parameters" element="tns:getVotes" />
</message>
<message name="getVotesResponse">
<part name="parameters" element="tns:getVotesResponse" />
</message>
<message name="getVote">
<part name="parameters" element="tns:getVote" />
</message>
<message name="getVoteResponse">
<part name="parameters" element="tns:getVoteResponse" />
</message>
<message name="registerVote">
<part name="parameters" element="tns:registerVote" />
</message>
<message name="registerVoteResponse">
<part name="parameters" element="tns:registerVoteResponse" />
</message>
<message name="getPublicKey">
<part name="parameters" element="tns:getPublicKey" />
</message>
<message name="getPublicKeyResponse">
<part name="parameters" element="tns:getPublicKeyResponse" />
</message>
<portType name="VotingServer">
<operation name="rejectVote">
<input wsam:Action="http://votingserver.chille.iaik/VotingServer/rejectVoteRequest" message="tns:rejectVote" />
<output wsam:Action="http://votingserver.chille.iaik/VotingServer/rejectVoteResponse" message="tns:rejectVoteResponse" />
</operation>
<operation name="getVotes">
<input wsam:Action="http://votingserver.chille.iaik/VotingServer/getVotesRequest" message="tns:getVotes" />
<output wsam:Action="http://votingserver.chille.iaik/VotingServer/getVotesResponse" message="tns:getVotesResponse" />
</operation>
<operation name="getVote">
<input wsam:Action="http://votingserver.chille.iaik/VotingServer/getVoteRequest" message="tns:getVote" />
<output wsam:Action="http://votingserver.chille.iaik/VotingServer/getVoteResponse" message="tns:getVoteResponse" />
</operation>
<operation name="registerVote">
<input wsam:Action="http://votingserver.chille.iaik/VotingServer/registerVoteRequest" message="tns:registerVote" />
<output wsam:Action="http://votingserver.chille.iaik/VotingServer/registerVoteResponse" message="tns:registerVoteResponse" />
</operation>
<operation name="getPublicKey">
<input wsam:Action="http://votingserver.chille.iaik/VotingServer/getPublicKeyRequest" message="tns:getPublicKey" />
<output wsam:Action="http://votingserver.chille.iaik/VotingServer/getPublicKeyResponse" message="tns:getPublicKeyResponse" />
</operation>
</portType>
<binding name="VotingServerPortBinding" type="tns:VotingServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="rejectVote">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVotes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVote">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="registerVote">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPublicKey">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="VotingServer">
<port name="VotingServerPort" binding="tns:VotingServerPortBinding">
<soap:address location="http://localhost:8084/VotingServer/VotingServer" />
</port>
</service>
</definitions>